<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
</head>
<body>

{% extends 'base.html' %}

{% block title %}Category{% endblock %}
{% block content %}

<font color="black" face="Arial" size="3">
<center>      <strong>{{category.title}}</strong><br></center>
      <strong>Description: </strong>{{category.description}}
</font>
{% endblock %}
</body>
</html>