<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
</head>
<body>
    <font color="grey" face="Arial" size="4">   
        <center><a href="{% url 'games' %}">Games</a> <a href="{% url 'all_categories' %}">Categories</a></center>
        <center><h1>Online Store PS Games</h1></center>       
                                                                                     
    {% for game in games %}
    <img style="width: 400px; height: 400px; object-fit: cover;" src={game.game_image.url} alt="Name" />
    <li><a href="{% url 'game_slug' game_slug=game.slug %}">{{game.name}}</a></li>
    <li>Category: {{game.category}}</li>
    <li>Price: {{game.price}} $</li>
    <li>Release: {{game.release_date}}</li>
    <hr>
  
{% endfor %} 
{% block content %}{% endblock %}
{% block footer %}


<center>{% include "store/footer.html" %}</center>
{% endblock %}
</font>
</body>
</html>