<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<center><h1>Sign In</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign In">
    </form>
    <br>
    Or using your social networks
    <div>
        <button><a href="{% url 'account_login' %}">Twitch</a></button>
        <button><a href="{% url 'account_login' %}">GitHub</a></button>
    </div>
    <br>
    <a href="{% url 'users:pass-reset' %}">Have you forgotten your password?</a>
    <br>Not registered yet? | <a href="{% url 'users:register' %}">Register</a>

                
</center>
{% endblock content %} 
</body>
</html>