<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% load static %}
    {% block content %}
    <center>
        <h1>Password reset!</h1>
        <img src="{% static 'image/successfull.png' %}" alt="Success" />
        <br/>
        <h2><a href="{% url 'users:login' %}">Sign In</a></h2>
    </center>
    {% endblock %}
</body>
</html>