<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Registration</h1>
    <form method="post">
        {% csrf_token %}

        {% for x in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ x.label }}: </label>{{ x }}</p>
        <div class="form-error">{{ x.errors }}</div>
        {% endfor %}
        <input type="submit" value="Sign up">
    </form>
    {% endblock content %} 
</body>
</html>