{% load static %}
<footer>
    <center>
    <p>© 2023 Maksim Volkau</p>
    <div class="contacts">
    <a class="contacts-link" href="https://www.linkedin.com/in/maksim-volkau-164a34254"><img src="{% static 'image/linkedin.png' %}" alt="My image"></a> <a class="contacts-link" href="https://www.facebook.com/volkovmaksim92"><img src="{% static 'image/facebook2.png' %}" alt="My image"></a> <a class="contacts-link" href="https://github.com/maxred92"><img src="{% static 'image/github.png' %}" alt="My image"></a> <a class="contacts-link" href="https://instagram.com/maksimvolkau"><img src="{% static 'image/instagram.png' %}" alt="My image"></a></center>
    <center><form action= "mailto:maxred92@mail.ru" enctype="text/plain"><input type="submit" value="Send message"></center>
    </center>
</footer>
</body>
</html>