<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Game Store</title>

</head>
<body>
    <div>
        <font color="grey" face="Arial" size="4">   
            <center><a href="{% url 'store:index' %}">Games</a> <a href="{% url 'store:all_categories' %}">Categories</a></center>
            <center><h1>Online Store PS Games</h1></center>
             <form method="post" action="{% url 'store:search' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="searched" 
                placeholder="Games" name="searched">
                <button type="submit">Search</button>
            </form>
    </div>
    <hr>
</body>
</html>