<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>   

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Online Game Store</title>

</head>
<font color="black" face="Arial" size="2"> 
<section class="user">
    <div class="user__greetings">
      {% if user.is_authenticated %}
      <p>Welcome,<a href="{% url 'profile' %}">{{ user.username }}</p></a>
      <div>
        <a href="{% url 'users:logout' %}">Log out</a> | <a href="{% url 'users:change-password' %}">Change Password</a>
      </div>
      {% else %}
        <p class=></p>
        <div>  
        <a href="{% url 'users:login' %}">Sign in</a>
      </div>
      {% endif %}
    </div>
  </section>
<body>
    <div>
        <font color="grey" face="Arial" size="4">   
            <center><a href="{% url 'store:index' %}">Games</a> <a href="{% url 'store:all_categories' %}">Categories</a></center>
            <center><h1>Online Store PS Games</h1></center>
            
            </form>
    </div>
    <hr>
</body>
</html>