<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

<h1>Categories</h1>
<font color="black" face="Arial" size="3">
    {% for category in categories %}
    <li><a href="{% url 'store:games_category' category_slug=category.slug %}">{{category.title}}</a></li>
{% endfor %}
</font>

{% endblock %}
</body>
</html>