<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}
<center><font color="black" face="Arial" size="3">
<img width="270" height="360" src={{game.game_image.url}} alt={{game.name}}/>
<div>
    <br>
        <strong>{{game.name}}</strong><br>
        <strong>Category: </strong> {{game.category}}<br>
        <strong>Price: </strong>{{game.price}}<strong>$</strong><br>
        <strong>Rating: </strong>{{average_rating|floatformat:1}}<strong></strong><hr>
        </div>
      </center>
        <p>{{game.description|safe}}</p>
 
</font>
{% if user.is_authenticated %}
{% with comments.count as total_comments %}  
  <h2>  
    {{ total_comments }} comment{{ total_comments|pluralize }}  
  </h2>  
{% endwith %}
{% for comment in comments %}
  <div class="comment">  
    <p>Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }} </p>  
  {{ comment.body|linebreaks }}
  {% if user == comment.name %}  
  <button><a href="{% url 'store:comment_update' comment.id %}">Update</a></button>
  
  <button><a href="{% url 'store:comment_delete' comment.id %}">Delete</a></button> 
  </div>
  {% endif %} 
{% endfor %}

{% if new_comment %}  
  <h2>Your comment has been added.</h2>  
{% else %}  
  <h2>Add a new comment</h2>  
  <form action="." method="post">  
    {{ comment_form.as_p }}  
    {% csrf_token %}  
    <p><input type="submit" value="Add comment"></p>  
  </form>

{% endif %}
{% endif %}  
{%if last_visited%}
        <p>You viewed the page {{ views_number }} times, the last one was on : {{ last_visited }}</p>
{% endif %}  
{% endblock %}
 
</body>
</html>