<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Online Store</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<div>
    <p>Sort Ascending:</p>
    <button><a href="{{request.index}}?order_by=name:asc">Name</a></button>
    <button><a href="{{request.index}}?order_by=price:asc">Price </a></button>
<hr>
</div>     
<div>
    <p>Sort Descending:</p>
    <button><a href="{{request.index}}?order_by=name:desc">Name</a></button>
    <button><a href="{{request.index}}?order_by=price:desc">Price </a></button>
<hr>
</div>       
<div>
    <button><a href="{% url 'store:index' %}">Reset</a></button>
    <hr>
</div>                                                                              
{% for game in page_obj %}
    <div>   
        <img width="150" height="200" src={{game.game_image.url}} alt='{{ game.name }}'>
        <li><a href="{% url 'store:game_slug' game_slug=game.slug %}">{{game.name}}</a></li>
        <li>Category: {{game.category}}</li>
        <li>Price: {{game.price}} $</li>
        <li>Release: {{game.release_date}}</li>
    </div>
    <hr>
      
{% endfor %} 
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=&order_by={{field}}:{{direction}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&order_by={{field}}:{{direction}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&order_by={{field}}:{{direction}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&order_by={{field}}:{{direction}}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    
    {% endblock content %} 
</body>
</html>

