<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>© 2023 Maksim Volkau</p>
<div class="contacts">
<a class="contacts-link" href="https://www.linkedin.com/in/maksim-volkau-164a34254"><img src="{% static 'volkauresume/linkedin.png' %}" alt="My image"></a> <a class="contacts-link" href="https://www.facebook.com/volkovmaksim92"><img src="{% static 'volkauresume/facebook2.png' %}" alt="My image"></a> <a class="contacts-link" href="https://github.com/maxred92"><img src="{% static 'volkauresume/github.png' %}" alt="My image"></a> <a class="contacts-link" href="https://instagram.com/maksimvolkau"><img src="{% static 'volkauresume/instagram.png' %}" alt="My image"></a></center>
<form action= "mailto:maxred92@mail.ru" enctype="text/plain">
<center><input type="submit" value="Send message"></center>
</body>
</html>